/**
 * @file
 * Specific styles for action links.
 *
 * @see action-link.html.twig.
 */
.action-link-ajax-message {
  display: inline;
  margin-left: 1.2em;
  animation: action-link-message 3s ease-in-out 1;
}

@keyframes action-link-message {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
