{#
/**
 * @file
 * Default theme implementation to display a single action link.
 *
 * This is also used for empty links, in the case that a particular direction is
 * not valid. This is to ensure there is a SPAN to replace with an active link
 * if another direction link is used.
 *
 * Available variables:
 *   - link: The link for the action.
 *   - attributes: The HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
<span {{ attributes }}>
 {{ link }}
</span>