{#
/**
 * @file
 * Default theme implementation to display a single action link.
 *
 * Available variables:
 * - link: The link for the action.
 *
 * @ingroup themeable
 */
#}
<span {{ attributes }}>
 {{ link }}
</span>